<div id="layout_login">

	<form action="//home/aluno/Projeto_TeleEntrega/TeleEntregaOnline/app/views/controlles/application_controller.rb" method="GET">
 		<p><p><p>
		Usuario: <input type="text" id="usuario" name="usuario" />
		Senha: <input type="password" id="senha" name="senha" />
                
		<input type= "submit" value="Acessar" />
	</form>

	<form action="06-resultado.html" method="GET">
 		<p><p><p>
		Ainda nao e cadastrado?                
		<input type= "submit" value="Cadastre-se" />
	</form>
</div>

